<div class="widget-container">
  <div class="widget">
    <div class="icon">
      <i class="fa fa-building"></i>
    </div>
    <div class="value">
      <div class="top">10</div>
      <div class="bottom">Branches</div>
    </div>
  </div>
  <div class="widget">
    <div class="icon">
      <i class="fa fa-user"></i>
    </div>
    <div class="value">
      <div class="top">700+</div>
      <div class="bottom">Yoloers</div>
    </div>
  </div>
  <div class="widget">
    <div class="icon">
      <i class="fa fa-handshake"></i>
    </div>
    <div class="value">
      <div class="top">100+</div>
      <div class="bottom">Projects</div>
    </div>
  </div>
  <div class="widget">
    <div class="icon">
      <i class="fa fa-external-link"></i>
    </div>
    <div class="value">
      <div class="top">5+</div>
      <div class="bottom">Years</div>
    </div>
  </div>
</div>
<!-- <mat-grid-list cols="4" rowHeight="180px">
  <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color"
      [img]="tile.image"
      >
    {{tile.text}}
  </mat-grid-tile>
</mat-grid-list> -->
<div class="bottom-container">
  <button routerLink="/products" class="bottom-widgets green">
    <div class="icon">
      <i class="fa fa-gamepad"></i>
    </div>
    <div class="value">
      <div class="top">Our</div>
      <div class="bottom">Games</div>
    </div>
  </button>
  <button routerLink="/users" class="bottom-widgets yellow">
    <div class="icon">
      <i class="fa fa-users"></i>
    </div>
    <div class="value">
      <div class="top">Our</div>
      <div class="bottom">Users</div>
    </div>
  </button>
  <button routerLink="/statistics" class="bottom-widgets red">
    <div class="icon">
      <i class="fa fa-random"></i>
    </div>
    <div class="value">
      <div class="top">Our</div>
      <div class="bottom">Stats</div>
    </div>
  </button>
  <button routerLink="/gallery" class="bottom-widgets blue">
    <div class="icon">
      <i class="fa fa-camera"></i>
    </div>
    <div class="value">
      <div class="top">Our</div>
      <div class="bottom">Gallery</div>
    </div>
  </button>
</div>

<!-- <div class="widget-container">
  <div class="widget green">
    <div class="icon">
      <i class="fa fa-trash"></i>
    </div>
    <div class="value">
      <div class="top">10</div>
      <div class="bottom">Branches</div>
    </div>
  </div>
  <div class="widget yellow">
    <div class="icon">
      <i class="fa fa-trash"></i>
    </div>
    <div class="value">
      <div class="top">700+</div>
      <div class="bottom">Yoloers</div>
    </div>
  </div>
  <div class="widget red">
    <div class="icon">
      <i class="fa fa-trash"></i>
    </div>
    <div class="value">
      <div class="top">100+</div>
      <div class="bottom">Projects</div>
    </div>
  </div>
  <div class="widget blue">
    <div class="icon">
      <i class="fa fa-trash"></i>
    </div>
    <div class="value">
      <div class="top">5+</div>
      <div class="bottom">Years</div>
    </div>
  </div>
</div> -->



