.cart-section {
    @media only screen and (max-width: 1600px) {
      width: 1280px;
    }
    @media only screen and (max-width: 1500px) {
      width: 1180px;
    }
    @media only screen and (max-width: 1400px) {
      width: 1080px;
    }
    @media only screen and (max-width: 1200px) {
      width: 980px;
    }
}
  